/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
*.sublime-project
*.sublime-workspace
.vagrant
.byebug_history
.ruby-version
.tool-versions
.env.dusk.*
.env.testing
/coverage.xml
/bootstrap/cache/*.php
!.github
